<template name="header">
  <div class="navbar">
    <div class="container">

      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="navbar-brand" href="{{accountPath}}">Epkit</a>

      <!-- Place everything within .nav-collapse to hide it until above 768px -->
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}
        </ul>
        <ul class="nav pull-right">
          <li>{{loginButtons}}</li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</template>


<!--Example Navbar with everything    -->
    <!--if we have too many items in nav in future,-->
    <!--check out the scrollable-responsive navbar variant-->

    <!--To uncomment: Select all - control + / -->

<!--<div class="navbar">-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; .navbar-toggle is used as the toggle for collapsed navbar content &ndash;&gt;-->
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
    <!--</button>-->

    <!--&lt;!&ndash; Be sure to leave the brand out there if you want it shown &ndash;&gt;-->
    <!--<a class="navbar-brand" href="#">Epkit</a>-->

    <!--&lt;!&ndash; Place everything within .nav-collapse to hide it until above 768px &ndash;&gt;-->
    <!--<div class="nav-collapse collapse navbar-responsive-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li class="dropdown-header">Dropdown header</li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.nav-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.navbar &ndash;&gt;-->